@import url(./reset.css) layer(reset);
@layer reset, layout, component, button, badge, align, space;

:root {
  --gold: #d8b98b;
  --blue: #1d4ed8;
  --gray56: #565656;
  --grayea: #eaeaea;
  --grayd7: #d7d7d7;
  --gray99: #999999;
  --grayfa: #fafafa;
  --grayc9: #c9c9c9;
  --gray4b: #4b4b4b;
  --gray21: #212121;
  --grayaa: #AAA;
  --gray33: #333;
  --white: #ffffff;
  --white60: rgba(255, 255, 255, 0.6);
  --black60: rgba(0, 0, 0, 0.6);
  --black40: rgba(0, 0, 0, 0.4);
  --black10: rgba(0, 0, 0, 0.1);
  --gray66: #666666;
  --grayf5: #f5f5f5;
  --red: #f93232;
  --mint00: #00D4EA;
  --orangeff:#FF6A13;
  --green09:#09E27C;


  --shadow1: 8px 8px 16px 0px rgba(0, 0, 0, 0.15);
  --shadow2: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --shadow3: 8px 8px 8px 0px rgba(0, 0, 0, 0.15);

  --in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --inout-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --inout-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@layer layout {
  @layer header {
    .header__wrapper {
      display: grid;
      grid-template-columns: 10rem 1fr 10rem;
      align-items: center;
      padding: 0 0.8rem;
      & h1 {
        order: 2;
        align-self: center;
        text-align: center;
        & a {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.05rem;
          transform: translateY(-0.2rem);
          .blue & {
            color: var(--white);
          }
          .white & {
            color: var(--gray21);
          }
        }
      }
      .blue  &{
        background-color: var(--blue);
      }
      .white & {
        background-color: var(--white);
        border-bottom: 0.1rem solid var(--blue);
      }
      > div {
        order: var(--order);
        white-space: nowrap;
        &[style*="1"] {
          /* style속성중에 1이 들어있는경우를 잡아준다. */
          justify-self: start;
        }
        &[style*="3"] {
          justify-self: end;
        }
      }
    }
  }
  
  @layer footer {
    .footer {
      height: 10.8rem;
      background-color: var(--gray66);
      color: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .copyright {
        font-family: Roboto;
        font-size: 1.1rem;
        & .copyright__name {
          font-weight: 700;
        }
      }
      & .copyright__info {
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: -0.05rem;
        display: flex;
        > b {
          padding: 0 1.2rem 0 0.4rem;
          + b {
            position: relative;
            padding: 0 1.2rem;
            &::before {
              content: '';
              background-color: var(--white);
              width: 0.1rem;
              height: 1.4rem;
              opacity: 0.2;
              position: absolute;
              left:0;
            }
          }
        }
      }
    }
  }
}

@layer button {
  /* 공통된 요소를 inline으로 놓고 정의해준다. */
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    box-sizing: border-box;
    &.blue {
      border-color: var(--blue);
      background-color: var(--blue);
      color: var(--white);
    }
    &.white {
      color: var(--gray99);
      background-color: var(--white);
      color: var(--gray21);
    }
    &.regular {
      height: 4rem;
      padding: 0 2rem;
      border-width: 0.1rem;
      border-style: solid;
      font-size: 1.6rem;
      border-radius: 0.8rem;
      &.radius {
        border-radius: 4rem;
      }
    }
    &.large {
      height: 6rem;
      padding: 0 2rem;
      border-width: 0.1rem;
      border-style: solid;
      font-size: 1.6rem; &.radius {
        border-radius: 6rem;
      }
    }
    &.small {
      height: 2.8rem;
      padding: 0 1.2rem;
      border-width: 0.1rem;
      border-style: solid;
      font-size: 1.2rem;
      &.radius {
        border-radius: 2.8rem;
      }
    }
    &.ico1 {
      &::after {
        content:"";
        width: 1.6rem;
        height: 1.6rem;
        background: url(../images/ico_btn1.svg) no-repeat 0 0 / contain;
      }
    }
    &.ico2 {
      &::after {
        content:"";
        width: 1.6rem;
        height: 1.6rem;
        background: url(../images/ico_btn2.svg) no-repeat 0 0 / contain;
      }
    }
    &.fullsize {
      width: 100%;
    }
  }

  .btn-search {
    width: 4.4rem;
    height: 4.4rem;
   .blue & {
    background: url(../images/ico_search.svg) no-repeat center / 1.6rem auto;
   }
   .white & {
    background: url(../images/ico_search_blue.svg) no-repeat center / 1.6rem auto;
   }
  }
  .btn-menu {
    width: 4.4rem;
    height: 4.4rem;
    .blue & {
      background: url(../images/ico_menu.svg) no-repeat center / 1.6rem auto;
    }
    .white & {
      background: url(../images/ico_menu_blue.svg) no-repeat center / 1.6rem auto;
    }
  }
}

@layer align {
  .align {
    display: flex;
    &.both {
        justify-content: space-between;
    }
    &.right {
        justify-content: flex-end;
    }
    &.center {
        justify-content:center;
    }
    &.vt {
        align-items: flex-start;
    }
    &.vm {
        align-items: center;
    }
    &.vb {
        align-items: flex-end;
    }
  }
  .txt-center{ 
    text-align: center;
  }
  .txt-right{
     text-align: right;
    }
  .txt-left{ 
    text-align: left;
  }
}

@layer space {
  .mt10 {
    margin-top:1rem
  }
  .mt16 {
    margin-top: 1.66rem;
  }
}

@layer component {
  @layer gallery {
    .gallery-list {
      .gallery & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
      }
      .card & {
        display: grid;
        gap: 0.8rem;
      }
      .list & {
        > li {
          padding: 1.6rem 0;
          + li {
            border-top: 0.1rem solid var(--grayea);
          }
        } 
        & a {
          display: grid;
          grid-template-columns: min-content 1fr;
          gap: 1.6rem;
        }
      }
    }
    .gallery-list__thumb {
      overflow: hidden;
      border-radius: 0.8rem 0.8rem 0rem 0rem;
      .list & {
        width: 16rem;
        border-radius: 0.8rem;
        align-self: start;
      }
      /* list형태일때 가로크기를 줘여하기 때문에 된다. */
      & img {
        width:100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        transition: 0.3s var(--inout-quart);
        a:hover & {
          transform: scale(1.2);
          filter: contrast(120%);
        }
      }
    }
    .gallery-list__category {
      color: var(--gray33);
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: -0.05rem;
    }
    .gallery-list__title {
      color: var(--gray21);
      font-size: 1.4rem;
      line-height: 1.4rem;
      letter-spacing: -0.1rem;
    }
    .gallery-list__rate {
      display: flex;
      > span {
        width: 7.8rem;
        height: 1.4rem;
        background: url(../images/ico_rating.svg) no-repeat 0 0 / 100% auto;
        &.count0 {
          background-position: 0 0;
        }
        &.count1 {
          background-position: 0 -1.4rem;
        }
        &.count2 {
          background-position: 0 calc(-1.4rem * 2);
        }
        &.count3 {
          background-position: 0 calc(-1.4rem * 3);
        }
        &.count4 {
          background-position: 0 calc(-1.4rem * 4);
        }
        &.count5 {
          background-position: 0 calc(-1.4rem * 5);
        }
      }
    }
    .gallery-list__list__tag {
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
      & span {
        color: var(--gray4b);
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: -0.05rem;
        padding: 0.5rem 0.6rem;
        border-radius: 1.6rem;
        border: 0.1rem solid var(--grayd7);
        background: var(--grayfa);
      }
    }
    .gallery-list__info {
      display: grid;
      gap: 1.6rem;
      padding: 1.6rem;
      border-radius: 0 0 0.8rem 0.8rem;
      border: 0.1rem solid var(--grayea);
      border-top: none;
      .list & {
        border-radius: 0;
        border:none;
        padding: 0;
      }
    }
  }

  @layer tab {
    .sort-tab {
      display: flex;
      gap: 0.2rem;
      & label {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        cursor: pointer;
        &[aria-label*="카드"] {
          background: url(../images/ico_sort_card_off.svg) no-repeat 0 0 / contain;
        }
        &[aria-label*="갤러리"] {
          background: url(../images/ico_sort_gallery_off.svg) no-repeat 0 0 / contain;
        }
        &[aria-label*="리스트"] {
          background: url(../images/ico_sort_list_off.svg) no-repeat 0 0 / contain;
        }
      }
      & input:checked {
        + label[aria-label*="카드"] {
          background-image: url(../images/ico_sort_card_on.svg);
        }
        + label[aria-label*="갤러리"] {
          background-image: url(../images/ico_sort_gallery_on.svg);
        }
        + label[aria-label*="리스트"] {
          background-image: url(../images/ico_sort_list_on.svg);
        }
      }
    }
    .tab-type1 {
      display: flex;
      > li {
        flex: 1;
      }
      & button {
        width: 100%;
        height: 4.2rem;
        color: var(--gray21);
        font-size: 1.4rem;
        line-height: 1.4rem;
        letter-spacing: -0.05rem;
        border-bottom: 0.2rem solid transparent; 
        background: var(--white);
        &.--active {
          border-bottom: 0.2rem solid var(--blue);
          color: var(--blue);
          font-weight: 700;
        }
      }
    }
    /* flex버전 */
    /* .tab-type2 {
      display: flex;
      justify-content: center;
      padding: 0 0.4rem;
      border-radius: 0.8rem;
      background: var(--grayf5);
      & button {
        padding: 0 1.6rem;
        height:4.6rem;
        color: var(--gray4b);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4rem;
        letter-spacing: -0.05rem;
        background-color: transparent;
      }
      .--active {
        color:var(--blue)
      }
      & li {
        position: relative;
        + li {
          &::before {
            content:"";
            background-color: var(--grayd7);
            width: 0.1rem;
            height: 1.4rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    } */
    .tab-type2 {
      display: table;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 0 0.4rem;
      border-radius: 0.8rem;
      background: var(--grayf5);
      & button {
        padding: 0 1.6rem;
        height:4.6rem;
        color: var(--gray4b);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.4rem;
        letter-spacing: -0.05rem;
        background-color: transparent;
      }
      .--active {
        color:var(--blue)
      }
      & li {
        position: relative;
        display: table-cell;
        + li {
          &::before {
            content:"";
            background-color: var(--grayd7);
            width: 0.1rem;
            height: 1.4rem;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

}

@layer badge {
  .badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    box-sizing: border-box;
    padding: 0.6rem;
    border-radius: 0.8rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.05rem;
    &.color__mint {
      background: var(--mint00);
    }
    &.color__orange {
      background: var(--orangeff, #FF6A13);
    }
    &.color__green09 {
      background: var(--green09);
    }
    &.color__grayaa {
      background: var(--grayaa);
    }
    &.color__white {
      background: var(--white);
      border: 1px solid var(--grayea);
    }
    &.ico1 {
      color: var(--gray4b);
      font-size: 1.2rem;
      padding: 0.8rem 1rem;
      &::before {
        content:"";
        width: 0.8rem;
        height: 1.2rem;
        background: url(../images/ico_mobile.svg) no-repeat 0 0 / contain;
      }
    }
  }
}

